/*-------------------------------*/
.centeredapparea {
  width: 80% !important; 
  margin: 15% auto !important;

}

.setupbuttons{
    width: 80% !important; 
    position: fixed;
    bottom: 50px;
    left: 50%;
    margin: 0 0 0 -40%;
}

.toplinks{
	text-decoration: none !important;
	 background-color: #1095EA !important; 
	 color: white !important;
	 border-color: #1095EA !important; 
}

.keyload{
    -webkit-animation: glow 1.0s infinite alternate;
    animation: glow 1.0s infinite alternate;
    /*color:#24AD62;*/
    background-color:orange;
    display:inline; /*defaults to display none so it can be shown when it actually is a record*/
    width: 100px;
    height: auto;
}

@-webkit-keyframes glow {
    to {
        background-color: white;
    }
}

@keyframes glow{
	to {
        background-color: white;
    }
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

