<!DOCTYPE HTML>
<html>

<!-- the page for entering a key -->
  <div data-role= "page" data-theme = "a" id = "enterkey">
      <form method="post" action="demoform.asp">
        <div class="ui-field-contain" style = "width: 55%; margin: 0 auto">
          <input type="tel" name="usernum" id="usernum" placeholder="Enter your phone number">
          <input type="tel" name="enterkey" id="enterkey" placeholder="Enter-key...">
        </div>
      </form>
      <a href="#KKhome" class="ui-btn">Enter key...</a>
  </div>
</html>