<!DOCTYPE HTML>
<html>

<!-- the page for getting your key w/ option to send an sms -->
  <div data-role= "page" data-theme = "a" id = "getkey">
    <p>This is your room's key. It's what identifies your room! Give it to your roommate(s), and you'll never need it again.</p>
    <p id="key">Key : couldn't load key :(</p>
    <!-- SHITTY script for getting random key -->
    <script>
      var key1 = Math.floor((Math.random()*898)+101);
      var key2 = Math.floor((Math.random()*898)+101);
      var key3 = Math.floor((Math.random()*898)+101);
      document.getElementById("key").innerHTML = "Key : " + key1 + "-" + key2
      + "-" + key3;
      var key = "Key : " + key1 + "-" + key2 + "-" + key3;
      localStorage.setItem("userkey", key);
      console.log(localStorage.getItem("userkey"));
      console.log("fuck you charlie");
    </script>
    <a href="#sendkey" class="ui-btn">Send this key</a>
    <a href="#KKhome" class="ui-btn">Go to room</a>
  </div>
</html>