<!DOCTYPE HTML>
<html>
<!-- the main page, with status settings -->
  <div data-role= "page" data-theme = "a" id = "KKhome">
      <div data-role = "header" data-position = "inline">
        <h1 style = "width: 70%; margin: 0 auto;">KNOKNOK</h1>
       <!--  <a href="#" class="ui-btn ui-corner-all ui-icon-gear ui-btn-icon-notext"> -->
      </div>
      <div data-role="main" class="ui-content">
          <p style = "width: 50%; margin: 0 auto;">This is an app for roommates.</p>
      </div>
      <div data-role="controlgroup" style = "width: 55%; margin: 0 auto">
        <p>ROOM STATUS: {{ status }}</p>
          <form action="/sign" method="post" action="demoform.asp"> 
            <input type="hidden" id="status" name="status" value="Open"> <!-- onclick="parentNode.submit();"> -->
            <a href="javascript:;" id="status" type="status" name="status" class="ui-btn" onclick="parentNode.submit();">Open</a>
          </form>
          <form action="/sign" method="post" action="demoform.asp"> 
            <input type="hidden" id="status" name="status" value="Closed"> <!-- onclick="parentNode.submit();"> -->
            <a href="javascript:;" id="status" type="status" name="status" class="ui-btn" onclick="parentNode.submit();">Closed</a>
          </form>
          <a href="#entercustom" class="ui-btn">Custom...</a>
          <br>
          <a href="#KKhome" class="ui-btn" onclick = location.reload()>Refresh</a>
      </div>

      <div data-role="footer" style = "position:fixed; bottom:0px; right:0px">
        <h1>(C) 2014 EBCM Apps </h1>
      </div>
  </div>

    <!-- the popup for entering custom messages -->
  <div data-role = "page" data-theme = "a" data-dialog = "true" id= "entercustom">
      <div data-role = "main" class = "ui-content">
          <div class="ui-field-contain">
            <p>New Custom Status</p>
            <form action="/sign" method="post" action="demoform.asp">
                <input type="text" name="status" id="status">
                <a href="javascript:;" onclick="parentNode.submit();" type="status" class="ui-btn">Set status message</a>
            </form>
      </div>
  </div>
</html>