<!DOCTYPE HTML>
<html>
<!-- the page for entering initial info -->
  <div data-role= "page" data-theme = "a" id = "makeroom">
    <div class="ui-field-contain" style = "width: 55%; margin: 0 auto">
          <input type="tel" name="usernum" id="usernum" placeholder="Enter your phone number">
          <input type="text" name="enterroomname" id="enterroomname" placeholder="Enter the room's nickname">
          <input type="text" name="enterfirstname" id="enterfirstname" placeholder="Enter your first name">
    </div>
    <a href="#getkey" class="ui-btn">Next...</a>
  </div>
</html>  