<!DOCTYPE HTML>
<html>
  <!-- the page for generating a key the key to the roommate -->
  <div data-role= "page" data-theme = "a" id = "sendkey">
    <p id = "keytosend">Key:</p>
    <script>
      document.getElementById("keytosend").innerHTML = localStorage.getItem("userkey");
    </script>
    <form method="post" action="/sendsms" style ="width: 55%; margin: 0 auto">
      <div class="ui-field-contain">
        <input type="tel" name="sendnum" id="sendnum" placeholder="Roomate's Phone Number... ex. 8646336977">
      </div>
      <a href="javascript:;" onclick="parentNode.submit();" class="ui-btn" style = "width: 55%; margin: 0 auto">Send this key</a>
      <!--
      <a href="#keysuccess" class="ui-btn" style = "width: 55%; margin: 0 auto">Send this key</a>
      -->
    </form>
  </div>
</html>