<!DOCTYPE HTML>
<html>
<!-- the page for getting the key -->
  <div data-role= "page" data-theme = "a" id = "getkey">
    <div data-role="controlgroup" style = "width: 55%; margin: 0 auto">
        <h1>Welcome to Knoknok!</h1>
        <script>  
        //to default to KKhome
        console.log("fuck");
        console.log(localStorage.getItem("userkey"));
        if(localStorage.getItem("userkey") != null){
          var newplace = location.hostname + "/KKhome";
          console.log(newplace);
          //window.location.assign(newplace);
        }
        </script>
        <p>New User?</p>
        <br>
        <a href="#makeroom" class="ui-btn">Make a new Room</a>
        <p>Roomate sent you a key?</p>
        <br>
        <a href="#enterkey" class="ui-btn">Enter a Key</a>
    </div>
  </div>
</html>